<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password"></property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="show_sql">false</property>

        <mapping class="company.model.Account"/>
        <mapping class="company.model.Department"/>
        <mapping class="company.model.Employee"/>
        <mapping class="company.model.Holiday"/>
        <mapping class="company.model.Role"/>
        <mapping class="company.model.Salary"/>
        <mapping class="company.model.Status"/>

    </session-factory>
</hibernate-configuration>